main {
    width: 100%;
    height: 100%;
    background-image: url('/images/adrien-olichon-1-xyqr-9-md-ac-unsplash-2.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}